<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful Navbar</title>
    {{!-- <link rel="stylesheet" href="navbar.css"> --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
<style>
/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.logo img {
    height: 40px;
    padding-top: 7px;
    margin-right: 10px;
}

.logo{
    position: relative;
}

.company-name {
    font-size: 1.5rem;
    font-family: "Cinzel", serif;
    position: absolute;
    /* top: -0.5px; */
    bottom: 8px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 50px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffc107;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}


</style>
</head>


<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/logo.png" alt="Logo">
            <span class="company-name">QuickQuill</span>
        </div>
        <ul class="nav-links">
            <li><a href="/" id="bt">Home</a></li>
            <li><a href="/posts/my" id="my">MyBlogs</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="hamburger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <script>
        document.getElementById('bt').addEventListener('click', function (event) {
            window.location.href = '/';
        });
        document.getElementById('my').addEventListener('click', function (event) {
            window.location.href = '/posts/my';
        });
    </script>
</body>

</html>
